In [16]:
# Importar las librerias necesarias
import pandas as pd
from hdfs import InsecureClient

# Utilizando HDFS

In [17]:

client = InsecureClient('http://localhost:9870')

In [18]:
with client.read('/user/kiramishima/PR_6/orders_dataset.csv') as file:
    df = pd.read_csv(file)

df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

In [20]:
df.describe().transpose()

,count,unique,top,freq
order_id,99441,99441,e481f51cbdc54678b7cc49136f2d6af7,1
customer_id,99441,99441,9ef432eb6251297304e76186b10a928d,1
order_status,99441,8,delivered,96478
order_purchase_timestamp,99441,98875,2018-04-11 10:48:14,3
order_approved_at,99281,90733,2018-02-27 04:31:10,9
order_delivered_carrier_date,97658,81018,2018-05-09 15:48:00,47
order_delivered_customer_date,96476,95664,2018-05-08 23:38:46,3
order_estimated_delivery_date,99441,459,2017-12-20 00:00:00,522

In [21]:
client.list('/user/kiramishima/PR_6/')

['customers_dataset.csv',
 'order_items_dataset.csv',
 'order_payments_dataset.csv',
 'order_reviews_dataset.csv',
 'orders_dataset.csv',
 'product_category_name_translation.csv',
 'products_dataset.csv',
 'sellers_dataset.csv']

In [22]:
# Bajando un archivo de Hadoop a nuestro local
client.download('/user/kiramishima/PR_6/customers_dataset.csv', './csv')

'D:\\Workspace\\ws_python\\demos-datascience\\hadoop-python-basico\\csv\\customers_dataset.csv'

In [31]:
# Bajando multiples archivos
for file in client.list('/user/kiramishima/PR_6/'):
    client.download(f'/user/kiramishima/PR_6/{file}', './csv')

In [24]:
client.upload('/user/kiramishima', './Hadoop.ipynb')

'/user/kiramishima/Hadoop.ipynb'

In [25]:
client.list('/user/kiramishima')

['Hadoop.ipynb', 'PR_6']

In [26]:
client.delete('/user/kiramishima/Hadoop.ipynb')

True

In [27]:
client.list('/user/kiramishima')

['PR_6']

In [29]:
!hdfs dfs -ls /

Found 4 items
drwxr-xr-x   - kiramishima supergroup          0 2023-11-30 14:39 /INPUT_DIR
drwxr-xr-x   - kiramishima supergroup          0 2023-11-30 14:39 /OUTPUT_DIR
drwxr-xr-x   - kiramishima supergroup          0 2023-12-23 23:08 /tmp
drwxr-xr-x   - kiramishima supergroup          0 2023-12-23 23:01 /user

In [30]:
!hdfs dfs -ls /user/kiramishima/PR_6

Found 8 items
-rw-r--r--   2 kiramishima supergroup    9033957 2023-12-04 21:53 /user/kiramishima/PR_6/customers_dataset.csv
-rw-r--r--   2 kiramishima supergroup   15438671 2023-12-04 21:53 /user/kiramishima/PR_6/order_items_dataset.csv
-rw-r--r--   2 kiramishima supergroup    5777138 2023-12-04 21:53 /user/kiramishima/PR_6/order_payments_dataset.csv
-rw-r--r--   2 kiramishima supergroup   14409007 2023-12-04 21:53 /user/kiramishima/PR_6/order_reviews_dataset.csv
-rw-r--r--   2 kiramishima supergroup   17654914 2023-12-04 21:53 /user/kiramishima/PR_6/orders_dataset.csv
-rw-r--r--   2 kiramishima supergroup       2613 2023-12-04 21:53 /user/kiramishima/PR_6/product_category_name_translation.csv
-rw-r--r--   2 kiramishima supergroup    2379446 2023-12-04 21:53 /user/kiramishima/PR_6/products_dataset.csv
-rw-r--r--   2 kiramishima supergroup     174703 2023-12-04 21:53 /user/kiramishima/PR_6/sellers_dataset.csv